---
# tasks file for k8s-common

- name: Put SELinux in permissive mode, logging actions that would be blocked.
  selinux:
    policy: targeted
    state: disabled

- name: Disable swap
  command: swapoff -a
  changed_when: true
  when: ansible_swaptotal_mb > 0

- name: Remove swap
  mount:
    name: "{{ item }}"
    fstype: swap
    state: absent
  with_items:
    - swap
    - none

- name: Add Docker repo
  yum_repository:
    name: docker-ce-stable
    description: Docker CE Stable - $basearch
    file: docker-ce
    baseurl: https://download.docker.com/linux/centos/7/$basearch/stable
    enabled: yes
    gpgcheck: yes
    gpgkey: https://download.docker.com/linux/centos/gpg

- name: Add k8s repo
  yum_repository:
    name: Kubernetes
    description: Kubernetes
    file: kubernetes
    baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
    enabled: yes
    gpgcheck: yes
    repo_gpgcheck: yes
    gpgkey:
    - https://packages.cloud.google.com/yum/doc/yum-key.gpg
    - https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

- name: Install containerd from RPM
  dnf:
    name: 'https://download.docker.com/linux/centos/7/x86_64/stable/Packages/containerd.io-1.2.13-3.2.el7.x86_64.rpm'
    state: present

- name: Install docker-ce, kubeadm, kubelet
  dnf:
    name:
    - docker-ce
    - docker-ce-cli
    - kubeadm
    - kubelet
    - kubectl
    - iproute-tc
    state: present
#  notify: restart docker

- name: Add vagrant user to docker group
  user:
    name: vagrant
    groups:  
    - vagrant
    - docker
    append: yes

- name: Configure node IP
  lineinfile:
    path: /etc/sysconfig/kubelet
    regexp: '^KUBELET_EXTRA_ARGS='
    line: KUBELET_EXTRA_ARGS=--node-ip={{ ansible_eth1.ipv4.address }}
#  notify: restart kubelet


- name: Restart service docker and kubelet
  service:
    name: "{{ item }}"
    state: restarted
    enabled: yes
  with_items:
  - docker
  - kubelet

